@use 'settings' as set;

header {
    @include set.flexColumn;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    overflow: hidden;
    
    h1 {
        font-family: set.$font1 ;
        font-size: 6rem;
        color: set.$color3;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
    }

    p {
        font-family: set.$font2;
        font-style: italic;
        font-size: 2rem;
        color: set.$color3;
        padding: 10px;
        text-align: center;
    }

    .fleche {
        border-radius: 100%;
        background-color: transparent;
        border: solid 1px set.$color3;
        height: 60px;
        width: 60px;
        margin: 60px 0;
        
        &:hover i {
            animation: arrow 0.6s ease-in infinite alternate;
        }

        i {
            font-size: 20px;
            color: set.$color3;
        }

        @keyframes arrow {
            0% {
                  transform: translateY(0);
              }
            25% {
                  transform: translateY(10%);
              }
            50% {
                  transform: translateY(20%);
              }
            75% {
                  transform: translateY(30%);
              }
            100% {
                  transform: translateY(40%);
              }
          }
    }
}